<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ site_url }}">
    <meta property="og:site_name" content="{{ title }}">
    <title>{{ title }}</title>
    <base href="/"/>
    <meta name="description" content="{{ dscription }}"/>

    <link href="/image/catalog/cart.copona.png" rel="icon"/>

    <!-- Simplica files (must be refactored! -->
    <link href="themes/default/assets/vendor/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen, print"/>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" type="text/css" rel="stylesheet" media="screen, print"/>
    <link href="themes/default/assets/vendor/magnific/magnific-popup.css" type="text/css" rel="stylesheet" media="screen, print"/>

    <link href="themes/default/assets/css/stylesheet.css" type="text/css" rel="stylesheet" media="screen, print"/>
    <link href="themes/default/assets/css/additional.css" type="text/css" rel="stylesheet" media="screen, print"/>

    <!-- Twigbase files - new ones! Must be made dynamic -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/fontawesome.css" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/regular.css" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/solid.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/assets/owl.carousel.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"/>
</head>

